{% extends 'layouts/default.html' %}

{% block content %}

    <div class="container">

        <div class="grid-12">
            <div class="col-6">
                <h1>Test</h1>
            </div>
            <div class="col-6">
                abc
            </div>
        </div>

        <div class="grid-12">
            <div class="col-4">
                <div class="panel">
                    this is a panel for a chart or w/e
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    this is a panel for a chart or w/e
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    this is a panel for a chart or w/e
                </div>
            </div>
        </div>

    </div>

{% endblock %}