.daterange {
  float: right;
  display: inline-block;
  vertical-align: top;
  background: #FAFAFA;
  color: $color-grey;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: .3s ease;

  span {
    margin-left: 1rem;
  }

  &:hover {
    background: $color-white;
  }
}

// Overwrites

.daterangepicker {
  & table {
    border-spacing: 0px 2px;
  }

  & td, & th {
    border: 0;
    width: 36px;
    height: 36px;
  }

  & td {
    &.active {
      background-color: #349AEF;

      &.start-date {
        &.available {
          &:hover {
            border-radius: 5rem 0 0 5rem;
          }

          &.in-range {
            &:hover {
              border-radius: 5rem;
            }
          }

          &.end-date {
            &.available {
              &:hover {
                border-radius: 5rem;
              }
            }
          }
        }
        &:hover {
          //border-radius: 5rem 0 0 5rem;
        }
      }

      &.end-date {
        &:hover {
          border-radius: 0 5rem 5rem 0;
        }
      }
    }

    &.start-date {
      border-radius: 5rem 0 0 5rem;

      &.available {
        border-radius: 5rem 0 0 5rem;

        &.in-range {
          border-radius: 5rem;
        }
      }

      &.end-date {
        border-radius: 5rem;
      }
    }

    &.end-date {
      border-radius: 0 5rem 5rem 0;

      &.in-range {
        &.available {
          border-radius: 0 5rem 5rem 0;
        }
      }
    }

    &.available {
      border-radius: 5rem;

      &:hover {
        background: #349AEF;
        color: $color-white;
        border-radius: 5rem;
      }

      &.in-range {
        border-radius: 0;
        &:hover {

        }
      }
    }

    &.in-range {
      background-color: #349AEF;
      color: $color-white;
    }
  }

  & .input-mini {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.ranges {
  & li {
    &.active {
      background: #349AEF;
    }
  }
}

//349AEF