.panel {
  display: inline-block;
  width: 100%;
  min-height: 300px;
  background: $color-white;
  margin-bottom: 3rem;
  box-shadow: $shadow-depth-1;
  border: 1px solid $color-grey-light;
  border-radius: 4px;
  box-sizing: border-box;
}

.panel__header {
  background: #fafafa;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $color-grey-light;
  border-radius: 4px 4px 0 0;
}

.panel__body {
  padding: 1.5rem 2rem;
}